@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 20px;
  border: 3px solid rgb(255, 166, 0);
  border-radius: 10px;
  color: black;
  font-size: 15px;
  background-color: wheat;
}

button {
  width: 450px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(94, 94, 245);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

h1 {
  font-family: "Redressed", cursive;
}

.container {
  border: 2px solid black;
  margin: 20px 300px;
}

.inputs {
  text-align: center;
}
